
*.save
Operações-Matemáticas/ex1
Operações-Matemáticas/ex2
Operações-Matemáticas/ex3
Leitura-Valores/ex1
Leitura-Valores/ex1.o
Leitura-Valores/ex2
Leitura-Valores/ex2.o
Leitura-Valores/ex3
Leitura-Valores/ex3.o
Operações-Matemáticas/ex4
